
NEXT_PUBLIC_SUPABASE_URL=https://rjnzqsubbggjkdogmncr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_GMCQyR3RemIry7iS0J0Q5Q_LiYGTuqb
BACKEND_API_URL=http://localhost:3001/api/v1
BACKEND_API_TOKEN=